In [3]:
import pandas as pd

In [10]:
patients = pd.read_csv(r"C:\Users\Asus\Desktop\Hackathon Project\Files\Other Data\patients.csv")

In [11]:
patients.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
0,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,Cudahy,California,Los Angeles County,6037.0,90255,34.007203,-118.177788,66840.34,11815.23,94857
1,dabfdec7-929a-3269-fd84-ab7e6ecaa245,1999-09-19,NaN,999-80-4324,S99978853,X16410107X,Mr.,Adolph80,Bartoletti50,NaN,...,Concord,California,Contra Costa County,6013.0,94518,37.848646,-121.847029,19317.09,36466.46,44410
2,a793a189-7e7f-48b6-ea63-43036cef8d3d,1997-06-01,NaN,999-96-4656,S99930925,X74559429X,Mr.,Aubrey96,Kunde533,NaN,...,Lafayette,California,Contra Costa County,6013.0,94597,37.895203,-122.146045,46012.92,0.00,780950
3,a08c883f-bdbd-7d0b-158d-17a69e78337b,1952-12-05,NaN,999-14-7102,S99913591,X27981597X,Mr.,Adán600,Delrío329,NaN,...,San Marcos,California,San Diego County,6073.0,92024,33.116616,-117.112758,745343.06,534555.09,53484
4,6252ef78-e442-3081-f63b-36435c505a7f,1991-07-25,NaN,999-69-1046,S99936283,X26200534X,Mr.,Carter549,Haag279,NaN,...,Santa Ana,California,Orange County,6059.0,92868,33.647160,-117.813151,228057.56,1882.29,95774

In [12]:
encounters = pd.read_csv(r"C:\Users\Asus\Desktop\Hackathon Project\Files\Other Data\encounters.csv")

In [17]:
encounters.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,8d3b00ea-681f-4f18-9e62-8d2ee98aae1a,1978-09-24T16:45:53Z,1978-09-24T17:00:53Z,c3b2e799-5291-dc30-dbfc-679181de00aa,ccb5b561-e2b3-365c-a430-daeb9e4ea5eb,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,939.64,0.0,NaN,NaN
1,3d45be6c-b27f-c771-7bba-ccc85ed702ea,1978-10-29T16:45:53Z,1978-10-29T17:00:53Z,c3b2e799-5291-dc30-dbfc-679181de00aa,ccb5b561-e2b3-365c-a430-daeb9e4ea5eb,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,1155.52,0.0,NaN,NaN
2,43a466cb-d4b5-9e25-bc8c-123a09f13aa3,1978-12-31T16:45:53Z,1978-12-31T17:00:53Z,c3b2e799-5291-dc30-dbfc-679181de00aa,ccb5b561-e2b3-365c-a430-daeb9e4ea5eb,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,418.76,0.0,NaN,NaN
3,5222266e-675d-56a2-44ce-5b52d3aa1b42,1979-12-02T16:45:53Z,1979-12-02T17:00:53Z,c3b2e799-5291-dc30-dbfc-679181de00aa,ccb5b561-e2b3-365c-a430-daeb9e4ea5eb,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,418.76,0.0,NaN,NaN
4,c623c695-2884-6041-8e0a-d76ba2b88217,1981-03-01T16:45:53Z,1981-03-01T17:00:53Z,c3b2e799-5291-dc30-dbfc-679181de00aa,ccb5b561-e2b3-365c-a430-daeb9e4ea5eb,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,282.76,0.0,NaN,NaN

In [15]:
result = patients.merge(encounters, left_on='Id', right_on='PATIENT', how='left')

In [19]:
result.head()

,Id_x,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,939.64,0.0,NaN,NaN
1,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,1155.52,0.0,NaN,NaN
2,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,418.76,0.0,NaN,NaN
3,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,418.76,0.0,NaN,NaN
4,c3b2e799-5291-dc30-dbfc-679181de00aa,1978-09-24,NaN,999-25-4120,S99920883,X76703511X,Mr.,Riley817,Langosh790,NaN,...,843403b7-6284-3663-9fd0-23f86dae397c,e03e23c9-4df1-3eb6-a62d-f70f02301496,wellness,410620009,Well child visit (procedure),146.76,282.76,0.0,NaN,NaN